<div class="container">
  <div class="row">
    <div class="col-md-5 card left-card">
      <div class="card-body">
        <img src="office-image.jpg" class="office-image" alt="Office Image" />
      </div>
    </div>
    <div class="col-md-2 divider">
      <div class="line"></div>
    </div>
    <div class="col-md-5 card right-card">
      <div class="card-body">
        <img
          src="colorful-image.jpg"
          class="colorful-image"
          alt="Colorful Image"
        />
      </div>
    </div>
  </div>
</div>
